<input #checkbox1 type="checkbox" name="toggle" id="toggle">
<label for="toggle"></label>
<div class="container">

</div>
<div class="formAdd">
 <form autocomplete="off" #myForm="ngForm" (ngSubmit)="myForm.form.valid && submit(myForm)">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <input type="hidden" name="id" [value]="empService.employeeData.id">

        <div *ngIf="name.invalid && (name.touched || name.dirty)" class="float-right">
           <p class="text-danger">Required</p>
        </div>
        <input type="text" name="name" class="form-control" placeholder="Enter Name" #name="ngModel" [(ngModel)]="empService.employeeData.name" required>
       </div>
        <div class="col-md-3">
        <label for="lastName" class="float-left">Last Name</label>
        <div *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)" class="float-right">
          <p class="text-danger">Required</p>
        </div>
        <input type="text" name="lastName" class="form-control" placeholder="Enter Last Name" #lastName="ngModel" [(ngModel)]="empService.employeeData.lastName" required>
        </div>
        <div class="col-md-3">
        <label for="email" class="float-left">Email</label>
        <div *ngIf="email.invalid && (email.touched || email.dirty)" class="float-right">
          <p class="text-danger"> Required</p>
        </div>
        <input type="email" name="email" class="form-control" placeholder="Enter Email" #email="ngModel" [(ngModel)]="empService.employeeData.email" required>
       </div>
       <div class="col-md-3">
        <label for="age" class="float-left">Age</label>
        <div *ngIf="age.invalid && (age.touched || age.dirty)" class="float-right">
          <p class="text-danger"> Required</p>
        </div>
        <input type="number" name="age" class="form-control" placeholder="Enter Age" #age="ngModel" [(ngModel)]="empService.employeeData.age" required>

      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label for="doj" class="label float-left">Date of joining </label>
        <div *ngIf="doj.invalid && (doj.touched || doj.dirty)" class="float-right">
          <p class="text-danger"> Required</p>
        </div>
        <input type="date" class="form-control" name="doj" [(ngModel)]="empService.employeeData.doj" #doj="ngModel" required>
        </div>
        <div class="col-md-3">
          <label for="designationID" class="label float-left">Designation </label>
          <div *ngIf="designationID.touched && designationID.value==0" class="float-right">
            <p class="text-danger"> Required</p>
          </div>
         <select name="designationID" #designationID="ngModel" class="form-control" [(ngModel)]="empService.employeeData.designationID" required>
          <option value="0" >Please Select</option>
          <option [value]="desg.id" *ngFor=" let desg of desgList">{{desg.designation}}</option>
         </select>
          </div>
          <div class="col-md-6">
            <label for="gender">Gender</label>
            <div class="row">
              <div class="col-md-6">
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" checked="true" class="form-check-input" name="gender" #gender="ngModel" [(ngModel)]="empService.employeeData.gender" value="male">Male
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="gender" #gender="ngModel" [(ngModel)]="empService.employeeData.gender" value="female">Female
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="gender" #gender="ngModel" [(ngModel)]="empService.employeeData.gender" value="other">Other
                  </label>
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-check-inline">
                  <div class="form-check-label">
                    <input type="checkbox" class="form-control-input" name="isMarried" #isMarried="ngModel" [(ngModel)]="empService.employeeData.isMarried">Married
                  </div>
                </div>
                <div class="form-check-inline">
                  <div class="form-check-label">
                    <input type="checkbox" class="form-control-input" name="isActive" #isActive="ngModel" [(ngModel)]="empService.employeeData.isActive">Active
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-2">
        <button type="submit" [disabled]="designationID.value==0" class="btn btn-success btn-block">Save</button>
      </div>
      <div class="col-md-2">
        <button type="reset" class="btn btn-danger btn-block">Cancel</button>
      </div>
    </div>
  </div>
 </form>
</div>
